.menu{
    background: url(../../../public/image/backgr.jpeg);
    color: white;
    font-family: 'Amiri';
  
    &__btn{
        display: flex;
        justify-content: center;
        padding-top: 50px;

        .btn{
           padding: 5px 30px;
           font-size: 22px;
           color: #fff;
           font-family: "Amiri";
           border: #ffffff solid 1px;
           background-color: transparent;
           margin-right: 85px;
     }
    .btn:hover{
        color: black;
        background: whitesmoke;
    }
    input{
        color: #fff;
        font-family: "Amiri";
        border: 1px solid white;
        background-color: transparent;
        width: 300px;
        height: 53px;
        align-items: center;
        padding: 8px;
        margin-left: 55px;
        align-items: center;
        font-size: 22px;
        margin: 30px 10px 0 50px;
    
    } 
    }
    //category
   
    .menu__item{
        display: flex;
        justify-content: center;
        column-gap: 70px;
        padding-top: 100px;
        
        
        img{
            width: 400px;
            height: 440px;
            border-radius: 15px;
        }
        .items__right{
            padding: 0 60px;
           .item__title{
            text-align: center;
            font-size: 45px;
            font-weight: 600;
            padding-bottom: 30px;
           }
           .items{
            ul{
                font-size: 20px;
               font-weight: 500;
               li{
                padding-bottom: 15px;
               }
            }
           }
        }
        button{
                margin: 30px 0 30px 0;
               padding: 5px 30px;
               font-size: 18px;
               color: #fff;
               font-family: "Amiri";
               border: #ffffff solid 1px;
               background-color: transparent;
        }
        button:hover{
            color: black;
            background: whitesmoke;
        }
    }

    //allmenu
    .menuall{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 80px;
        row-gap: 50px;
        padding-top: 80px;
        .menu__items{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: whitesmoke;
        }
        img{
            border-radius: 15px;
        }
        h2{
            margin: 10px;
        }
    }
    // &__items{
    //     display: flex;
    //     flex-direction: column;
    //     text-align: center;
    //     color: whitesmoke;
    // }
    // img{
    //     border-radius: 15px;
    // }
    // h2{
    //     margin: 10px;
    // }
    button{
        margin: 30px 0 30px 0;
       padding: 5px 30px;
       font-size: 18px;
       color: #fff;
       font-family: "Amiri";
       border: #ffffff solid 1px;
       background-color: transparent;
       margin-left: 100px;
 }
button:hover{
    color: black;
    background: whitesmoke;
}

}
